Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a= 'abcd'
print(type(a))
b=['a','b',7,8,9j]
print(type(b))
print(type(b[3]))
c= 4.5
print(type(c))
d= (1,2,3,56,7)
print(type(d))

<class 'str'>
<class 'list'>
<class 'int'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [ ]:
var1 = ''
print(type(var1))
var2 = '[ DS, ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
print(7/2) #diveder gives exact value
print(7%2) #remainder
print(7//2) #this func is also used to divide but in this we get a int instead of float it removes value after .
print(7**2)# 7 to the power of 2

3.5
1
3
49

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
raj= ['a','b',3,3.5,5j,2,'c','raj','yo','whatsup']
print(len(raj))

10

In [ ]:
for i in raj:
  print(i,type(i))

a <class 'str'>
b <class 'str'>
3 <class 'int'>
3.5 <class 'float'>
5j <class 'complex'>
2 <class 'int'>
c <class 'str'>
raj <class 'str'>
yo <class 'str'>
whatsup <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a= int(input())
b= int(input())
c=0
d=a

while a%b==0:
  a= a/b
  c=c+1
if c>0:
  print(f'{d} is divisible by {b} {c}times')

else:
  print(f'{d} is not purly divisible by {b}, there will be a remainder {d%b}')

1000
13
1000 is not purly divisible by 13, there will be a remainder 12

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l= list(range(17,66,2))

In [ ]:
len(l)

25

In [ ]:
print(l,end='')

[17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65]

In [ ]:
for i in l:
  if i%3==0:
    print(f'*****{i} is divisible by 3*****')
  else:
    print(f'{i} is not divisible by the remainder is {i%3}')

17 is not divisible by the remainder is 2
19 is not divisible by the remainder is 1
*****21 is divisible by 3*****
23 is not divisible by the remainder is 2
25 is not divisible by the remainder is 1
*****27 is divisible by 3*****
29 is not divisible by the remainder is 2
31 is not divisible by the remainder is 1
*****33 is divisible by 3*****
35 is not divisible by the remainder is 2
37 is not divisible by the remainder is 1
*****39 is divisible by 3*****
41 is not divisible by the remainder is 2
43 is not divisible by the remainder is 1
*****45 is divisible by 3*****
47 is not divisible by the remainder is 2
49 is not divisible by the remainder is 1
*****51 is divisible by 3*****
53 is not divisible by the remainder is 2
55 is not divisible by the remainder is 1
*****57 is divisible by 3*****
59 is not divisible by the remainder is 2
61 is not divisible by the remainder is 1
*****63 is divisible by 3*****
65 is not divisible by the remainder is 2

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
'''type of data which can be modified by the user is mutable data and type of data which can not be changed by the user can be called as unmutable data type.
for  example list can be modified we can change its elements so it is mutable while a string or a tuple data type can not be changed'''

'type of data which can be modified by the user is mutable data and type of data which can not be changed by the user can be called as unmutable data type.\nfor  example list can be modified we can change its elements so it is mutable while a string or a tuple data type can not be changed'

In [ ]:
a=[1,2,3,4]
print(a)
a[3]= 10
print(a)

[1, 2, 3, 4]
[1, 2, 3, 10]

In [ ]:
b=(1,2,3,4,6)
print(b)
b[4]= 15

(1, 2, 3, 4, 6)

TypeError: ignored

In [ ]:
c= 'string'
print(c[3])
c[3]='j'

i

TypeError: ignored