

Q1. How do you comment code in Python? What are the different types of comments?

there are three type of quotes to comment something in python(''),(""),('''  '''),single, double amd triple quotes
for a single line we can use signle and double quotes, for paragraph we use triple quotes and we can use # too.
for exp--

In [5]:
'hi i am raj'
"hi i am raj"
''' we use triple quotws
 when we write a paragraph
 yuuuuu hooooo
  '''
# we can use this too.

' we use triple quotws\n when we write a paragraph\n yuuuuu hooooo\n  '

Q2. What are variables in Python? How do you declare and assign values to variables?

In [7]:
#in python we use variable to store data or value, a water bottle is a good example bottle is a variable and water is its value
water_bottle= 'water'
# this is how we assign a value to a variable by using = operator
water_bottle='juice'

Q3. How do you convert one data type to another in Python?

In [10]:
#we use type casting for that
a= 4.5
print(a,type(a))
a=int(a)
print(a,type(a))
a= str(a)
print(a,type(a))

4.5 <class 'float'>
4 <class 'int'>
4 <class 'str'>

In [12]:
b= ['a','b','c','d',1,1,2,2,4,4,5,56,24]
print(b,type(b))
b= tuple(b)
print(b,type(b))
b= set(b)
print(b,type(b))

['a', 'b', 'c', 'd', 1, 1, 2, 2, 4, 4, 5, 56, 24] <class 'list'>
('a', 'b', 'c', 'd', 1, 1, 2, 2, 4, 4, 5, 56, 24) <class 'tuple'>
{'d', 1, 2, 4, 5, 'b', 'a', 'c', 56, 24} <class 'set'>

Q4. How do you write and execute a Python script from the command line?

In [ ]:
'''create a file in notepad write a code in it and save it as .py file.
then open cmd and search for that directory
for exp if your file is in desktop
write cd desktop
then write your file name and press enter'''

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [13]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [14]:
#a number that contain both real and imaginary part can be called as comlex number for exp 4x+6y in this 4 and 6 are real numbers and x and y are imaginary.
#in python we represent imaginary number by using j
a= 5j+6j

In [15]:
type(a)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [16]:
age= 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [17]:
price= 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [19]:
name='rajan singh'
print(name)
name

rajan singh

'rajan singh'

Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
string= 'hello,world!'
(string[6:-1])

'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [26]:
is_student= True