<a href="https://colab.research.google.com/github/rajansingh387/assignments/blob/main/week_3_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.: [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [63]:
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [67]:
sorted_list1= sorted(a,key=lambda x:x[1])
sorted_list1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
b=  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq= lambda x: x**2
list(map(sq,b))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [20]:
c=  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
str_l= lambda x: str(x)
str_l= list(map(str_l,c))

In [22]:
str_l

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [23]:
from functools import reduce

In [29]:
d= list(range(1,26))

In [30]:
print(d,end=',')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],

In [34]:
red= reduce(lambda x,y: x*y,d)

In [35]:
red

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [43]:
e=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
fil= list(filter(lambda x: x%2==0 and x%3==0,e))

In [44]:
print(fil)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [45]:
f= ['python', 'php', 'aba', 'radar', 'level']

In [46]:
fil2= list(filter(lambda x:x[::-1]==x,f))

In [47]:
fil2

['php', 'aba', 'radar', 'level']