<a href="https://colab.research.google.com/github/rajansingh387/assignments/blob/main/week_3_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

In [ ]:
def find_odd(n):
  odd=[]
  for i in range(n+1):
    if i %2==0:
      continue
    else:
      odd.append(i)
  return odd

In [ ]:
find_odd(25)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

In [ ]:
# when you are unsure about how many arrgument you have to pass to get desired result you can use args or kwargs
def raj(a,b,*args):
  total= 0
  for i in args:
    total= total+i
  return total+a+b

In [ ]:
raj(1,2,4,5)

12

In [ ]:
raj(1,2,3,4,5,6,7,8,9,10)

55

In [ ]:
def itsmeiguess(a,b,**kwargs):
  print(a,b)
  print(kwargs)

In [ ]:
itsmeiguess('rajan','piyush',helo='welcome',home='is where you have family')

rajan piyush
{'helo': 'welcome', 'home': 'is where you have family'}

In [ ]:
def itsmeiguess(**kwargs):
  for i,j in kwargs.items():
    print(i+":"+j)

In [ ]:
itsmeiguess(helo='welcome',home='is where you have family')

helo:welcome
home:is where you have family

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

In [ ]:
#iterator is a function that allows you to iterate on a given data collection,to initialise the iterator we use iter( ) and next() fuction for exp
a='rajan'
a=iter(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

r
a
j
a
n

In [ ]:
# by using iter , and next func
li= [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
li= iter(li)
for i in range(5):
  print(next(li))

2
4
6
8
10

In [ ]:
# by using while loop
li= [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
i= 0
while i<5:
  print(li[i])
  i=i+1

2
4
6
8
10

In [ ]:
li= [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
for i in li[:5]:
  print(i)
#using for loop

2
4
6
8
10

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

In [140]:
'''in a generator func we use yield instead of return, generator function dosent consume too much memory.
They do not store the entire sequence in memory, while Normal functions, store the entire result in memory.'''

'in a generator func we use yield instead of return, generator function dosent consume too much memory.\nThey do not store the entire sequence in memory, while Normal functions, store the entire result in memory.'

In [ ]:
def count(n):
    result = []
    for i in range(1, n + 1):
        result.append(i)
    return result
#normal func

In [ ]:
count(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def count(n):
    for i in range(1, n + 1):
        yield i
#generator func

In [ ]:
c=count(10)

In [ ]:
for i in c:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
c= list(c)

In [ ]:
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [68]:
def primenum(n):
  for i in range(2,n):
    for j in range(2,i):
      if i%j==0:
        break
    else:
        yield i

pm=primenum(1000)
for i in range(20):
  print(next(pm))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [53]:
pm=primenum(100)

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [98]:
def fibo(n):
  i=0
  a,b=0,1
  while i<n:
    yield a
    a,b= b,b+a
    i=i+1
  return

In [99]:
fib=fibo(10)

In [100]:
for i in fib:
  print(i,end=',')

0,1,1,2,3,5,8,13,21,34,

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.
Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [88]:
st = 'pwskills'
ls = [i for i in st]
print(ls)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [127]:
def check_pal(a):
  original= str(a)
  reverse= str(a)[::-1]
  print(reverse)
  if original==reverse:
    print('it is palindrome')
  else:
    print('it is not')

In [128]:
a= int(input())
check_pal(a)

1001
1001
it is palindrome

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.
Note: Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter
out odd numbers.

In [134]:
l= [i for i in range(100)]

In [135]:
print(l,end='')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [136]:
odd= [i for i in l if i%2 !=0]

In [139]:
print(odd,end='')

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]